# Default values for trino.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: "trinodb/trino"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart version.
  tag: "latest"

imagePullSecrets:
  - name: regcred

server:
  workers: 2
  node:
    environment: production
    dataDir: /data/trino
    pluginDir: /usr/lib/trino/plugin
  log:
    trino:
      level: INFO
  config:
    path: /etc/trino
    http:
      port: 8080
    https:
      enabled: false
      port: 8443
      keystore:
        path: ""
    # Trino supports multiple authentication types: PASSWORD, CERTIFICATE, OAUTH2, JWT, KERBEROS
    # For more info: https://trino.io/docs/current/security/authentication-types.html
    authenticationType: ""
    query:
      maxMemory: "4GB"
      maxMemoryPerNode: "1GB"
    memory:
      heapHeadroomPerNode: "1GB"
  exchangeManager:
    name: "filesystem"
    baseDir: "/tmp/trino-local-file-system-exchange-manager"
  workerExtraConfig: ""
  coordinatorExtraConfig: ""
  autoscaling:
    enabled: false
    maxReplicas: 5
    targetCPUUtilizationPercentage: 50

accessControl:
  type: configmap
  refreshPeriod: 10s
  configFile: "rules.json"
  rules:
    rules.json: |-
      {
         "catalogs": [
           {
             "user": "(sensa|sensa-services)",
             "catalog": "(minio|iceberg)",
             "allow": "all"
           },
           {
             "user": "sensa-services",
             "catalog": "postgresql",
             "allow": "all"
           },
           {
             "user": "sensa",
             "catalog": "postgresql",
             "allow": "read-only"
           }
         ]
      }

additionalNodeProperties: {}

additionalConfigProperties: {}

additionalLogProperties: {}

additionalExchangeManagerProperties: {}

eventListenerProperties: {}

additionalCatalogs: {}

# Array of EnvVar (https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#envvar-v1-core)
env: []

initContainers: {}
  # coordinator:
  #   - name: init-coordinator
  #     image: busybox:1.28
  #     imagePullPolicy: IfNotPresent
  #     command: ['sh', '-c', "until nslookup myservice.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for myservice; sleep 2; done"]
  # worker:
  #   - name: init-worker
  #     image: busybox:1.28
  #     command: ['sh', '-c', 'echo The worker is running! && sleep 3600']

securityContext:
  runAsUser: 1000
  runAsGroup: 1000

service:
  type: ClusterIP
  port: 8080

nodeSelector: {}

tolerations: []

affinity: {}

auth: {}
  # Set username and password
  # https://trino.io/docs/current/security/password-file.html#file-format
  # passwordAuth: "username:encrypted-password-with-htpasswd"

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  # Annotations to add to the service account
  annotations: {}

secretMounts: []

coordinator:
  image:
    repository: "index.docker.io/trinodb/trino"
    pullPolicy: Always
    tag: "latest"

  jvm:
    maxHeapSize: "8G"
    gcMethod:
      type: "UseG1GC"
      g1:
        heapRegionSize: "32M"

  additionalJVMConfig: {}

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

worker:
  image:
    repository: trinodb/trino
    pullPolicy: Always
    tag: "latest"
  jvm:
    maxHeapSize: "8G"
    gcMethod:
      type: "UseG1GC"
      g1:
        heapRegionSize: "32M"

  additionalJVMConfig: {}

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

jmx:
  # -- Set to true to enable the RMI server to expose Trino's [JMX metrics](https://trino.io/docs/current/admin/jmx.html).
  enabled: false
  registryPort: 9080
  serverPort: 9081
  exporter:
    # jmx.exporter.enabled -- Set to true to export JMX Metrics via HTTP for [Prometheus](https://github.com/prometheus/jmx_exporter) consumption
    enabled: false
    image: bitnami/jmx-exporter:latest
    pullPolicy: Always
    port: 5556
    configProperties: []
    # jmx.exporter.configProperties -- JMX Config Properties is mounted to /etc/jmx-exporter/jmx-exporter-config.yaml
    # @raw
    # Example:
    # ```yaml
    # configProperties: |-
    #   startDelaySeconds: 0
    #   ssl: false
    #   lowercaseOutputName: false
    #   lowercaseOutputLabelNames: false
    #   includeObjectNames: ["java.lang:type=Threading"]
    #   autoExcludeObjectNameAttributes: true
    #   hostPort: "127.0.0.1:8080"
    #   excludeObjectNameAttributes:
    #     "java.lang:type=OperatingSystem":
    #       - "ObjectName"
    #     "java.lang:type=Runtime":
    #       - "ClassPath"
    #       - "SystemProperties"
    #     rules:
    #       - pattern: 'java\.lang<type=Threading><(.*)>ThreadCount: (.*)'
    #         name: java_lang_Threading_ThreadCount
    #         value: '$2'
    #         help: 'ThreadCount (java.lang<type=Threading><>ThreadCount)'
    #         type: UNTYPED

serviceMonitor:
  # serviceMonitor.enabled -- Set to true to create resources for the [prometheus-operator](https://github.com/prometheus-operator/prometheus-operator).
  enabled: false
  # serviceMonitor.labels -- Labels for serviceMonitor, so that Prometheus can select it
  labels:
    prometheus: kube-prometheus
  # serviceMonitor.interval -- The serviceMonitor web endpoint interval
  interval: "30s"
